@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-kfm5x2');
	src:url('fonts/icomoon.eot?#iefix-kfm5x2') format('embedded-opentype'),
		url('fonts/icomoon.woff?-kfm5x2') format('woff'),
		url('fonts/icomoon.ttf?-kfm5x2') format('truetype'),
		url('fonts/icomoon.svg?-kfm5x2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
	content: "\e600";
}
.icon-mail:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-instagram:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-pinterest:before {
	content: "\e606";
}
.icon-youtube:before {
	content: "\e607";
}
.icon-ru:before {
	content: "\e608";
}
.icon-en:before {
	content: "\e609";
}




// .icon-en,
// .icon-ru {
// 	width: 44px;
// 	display: inline-block;
// 	&:before {	
// 		font-size: 1.4em;
// 		line-height: 0.7;
// 		letter-spacing: -1px;
// 	}
// }
// .icon-en:before {
// 	content: "en";
// }
// .icon-ru:before {
// 	content: "ru";	
// }

